* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
  width: 100vw;
  height: 50px;
  background-color: lightgreen;
  display: block;
}

#logo {
  background-color: red;
  height: 50px;
  width: 50px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}
ul {
  display: inline-block;
  line-height: 50px;
  vertical-align: middle;
}
li.link{
  line-height: 50px;
  vertical-align: middle;
  margin-right: 20px;
  margin-top: 0;
  display: inline-block;
}
.link:hover{
  background-color: orange;
  cursor: pointer;
}
.choose{
  text-align: center;
  font-family: 'Lobster', cursive;
  color: white;
}
.container{
    width: 100vw;
    height: 100vw;
    background-color: rgba(65, 76, 176, 1);
}
.destination {
    width: 30vw;
    height: 40vh;
    border: 1px solid black;
    position:relative;
    left: 35vw;
    right: 35vw;
    background-size: cover;
    margin-bottom: 20px;
    color: white;
}
.mountain {
    background-image: url("../img/mountain.jpg");

}
.city {
    background-image: url("../img/city.jpg");
}
.beach {
    background-image: url("../img/beach.jpg");
}
.title{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(55, 20, 10, 0.5);
}
